/* css styles */
.navbar-dark, .quarto-title-banner {
  background-color: #31373d;
}

body {
  background-color: #c8d4db;
  font-family: "Arial", Sans-Serif;
}

h1.anchored {
  color: #465361;
}

h2.anchored {
  color: #283440;
}

h3.anchored {
  color: #31373d;
}

h4.anchored {
  color: #151726;
}
