/* css styles */

.quarto-title-banner {
  background-color: #283440;
}

.navbar {
  background-color: #31373d;
}

body {
  background-color: #c8d4db;
  font-family: "Arial", Sans-Serif;
}

h1.anchored {
  color: #465361;
}

h2.anchored {
  color: #283440;
}

h4.anchored {
  color: #151726;
}

h3{
  color: #14332c;
}
